## 빅데이터 실습

### 스타벅스매장 입지 분석

#### 데이터 수집

##### 웹사이트 제공 엑셀파일 수정

In [2]:
# 필수 라이브러리 사용등록
import pandas as pd
import numpy as np

In [4]:
dfSeoulManicipality = pd.read_excel('./data/전국_시군구_위경도.xlsx')
dfSeoulManicipality.tail()

      docity  do   city   longitude   latitude
290    충청충주시  충청    충주시  127.928144  36.988181
291    충청태안군  충청    태안군  126.299975  36.742667
292  충청한누리대로  충청  한누리대로  127.289926  36.485450
293    충청홍성군  충청    홍성군  126.662908  36.598361
294    충청대전시  충청    대전시  127.384862  36.350630

In [6]:
# 서울만 필터링
condition = dfSeoulManicipality['do'] == '서울'
dfSeoulGeo= dfSeoulManicipality[condition]

In [7]:
dfSeoulGeo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 138 to 162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [9]:
# 필요로 만든 데이터는 항상 저장해둘 것
dfSeoulGeo.to_excel('./data/수정_서울_시군구_위경도.xlsx',index=False)

In [15]:
## 서울시 구별 인구데이터 로드
columns = ['구','세대소계','성별소계','남','여','한국인소계','남자','여자','등록외국인소계','남자','여자','세대당인구','65세이상']
dfSeoulPop = pd.read_excel('./data/서울시_구별_인구데이터.xlsx',header=2, usecols="B,O:Z")
dfSeoulPop.columns = columns
dfSeoulPop.tail()

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,구,세대소계,성별소계,남,여,한국인소계,남자,여자,등록외국인소계,남자,여자,세대당인구,65세이상
21,관악구,249026,248857,481956,242651,239305,15927,6375,9552,284877,497757,248951,248806
22,서초구,196391,215687,407664,194291,213373,4414,2100,2314,170015,412178,196318,215860
23,강남구,262991,287291,544873,260520,284353,5409,2471,2938,241315,554620,265115,289505
24,송파구,316981,343044,654166,314347,339819,5859,2634,3225,286180,659963,316902,343061
25,강동구,226237,237081,459167,224423,234744,4151,1814,2337,203950,463566,226265,237301

In [17]:
## 서울시 인구 데이터 저장
dfSeoulPop.to_excel('./data/수정_서울_인구구별.xlsx', index=False)

In [23]:
## 서울시 구별 사업체현황 로드
dfSeoulWork = pd.read_excel('./data/서울시_구별_사업체현황.xlsx',header=4,usecols='B:G')
dfSeoulWork
columns = ['구','소계','여성대표자','성별소계','남자','여자']
dfSeoulWork.columns = columns

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [24]:
dfSeoulWork.tail()

      구      소계  여성대표자    성별소계      남자      여자
21  관악구   37915  13641  128417   68392   60025
22  서초구   71958  23066  487976  290084  197892
23  강남구  110007  35453  801419  447809  353610
24  송파구   74531  25400  400781  244588  156193
25  강동구   41660  15226  157465   83415   74050

In [ ]:
## 서울시 구별 사업체현황 저장
dfSeoulWork.to_excel('./data/수정_서울_구별사업체.xlsx',index=False)